.footertab {
  /* color: #d1d5da; */
  color: rgb(209 213 219 / 1);
  font-weight: 500;
  font-size: 0.875rem;
  margin: auto 20px;
  font-family: ui-sans-serif, system-ui, "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.logo {
  display: block;
}

.footer {
  display: flex;
  height: 35px;
  align-items: center;
  background: #1f2937;
  justify-content: center;
}
.footer-text {
  text-align: center;
  color: #868e96 !important;
}

.dark-mode {
  color: white !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
